In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/financial-performance-prediction/sample_submission.csv
/kaggle/input/financial-performance-prediction/data_dictionary.txt
/kaggle/input/financial-performance-prediction/train.csv
/kaggle/input/financial-performance-prediction/test.csv

In [2]:
#IMPORTING BASIC LIBRARIES
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [3]:
#LOADING TRAIN AND TEST DATAFILES
train = pd.read_csv('/kaggle/input/financial-performance-prediction/train.csv')
test = pd.read_csv('/kaggle/input/financial-performance-prediction/test.csv')

In [4]:
print(f'Train shape: {train.shape}') #TRAIN DATA : 1624 ROWS AND 212 COLPUMNS
print(f'Test shape: {test.shape}') #TEST DATA : 406 ROWS AND 203 COLPUMNS

Train shape: (1624, 212)
Test shape: (406, 203)

In [5]:
train.tail()

,Id,industry,sector,fullTimeEmployees,auditRisk,boardRisk,compensationRisk,shareHolderRightsRisk,overallRisk,trailingPE,...,Q10_TOTAL_STOCKHOLDERS_EQUITY,Q10_NET_INCOME,Q10_GROSS_PROFIT,Q10_COST_OF_REVENUES,Q10_REVENUES,Q10_OPERATING_INCOME,Q10_OPERATING_EXPENSES,Q10_EBITDA,Q10_DEPRECIATION_AND_AMORTIZATION,Q10_fiscal_year_end
1619,1916,Engineering & Construction,Industrials,1600.0,8.0,8.0,6.0,8.0,7.0,310.800000,...,1.838300e+07,981000.0,15646000.0,16156000.0,31802000.0,1495000.0,14151000.0,1495000.0,0.0,0.0
1620,1162,Biotechnology,Healthcare,70.0,2.0,7.0,6.0,2.0,4.0,NaN,...,1.176740e+08,-1416000.0,279000.0,112000.0,391000.0,-7050000.0,7329000.0,-7050000.0,0.0,0.0
1621,629,Medical Care Facilities,Healthcare,5335.0,8.0,7.0,6.0,2.0,5.0,36.952385,...,3.226923e+08,950000.0,22041000.0,83622000.0,105663000.0,1613000.0,104050000.0,-82009000.0,-83622000.0,0.0
1622,1841,Biotechnology,Healthcare,129.0,7.0,6.0,8.0,8.0,7.0,NaN,...,9.164100e+07,-16514000.0,1222000.0,0.0,1222000.0,-16561000.0,17783000.0,-16561000.0,0.0,0.0
1623,1179,Resorts & Casinos,Consumer Cyclical,27000.0,8.0,3.0,10.0,10.0,9.0,336.750000,...,2.336830e+08,-280978000.0,164252000.0,351966000.0,516218000.0,-175732000.0,179774000.0,-15522000.0,160210000.0,0.0

In [6]:
test.tail()

,Id,industry,sector,fullTimeEmployees,auditRisk,boardRisk,compensationRisk,shareHolderRightsRisk,overallRisk,trailingPE,...,Q10_TOTAL_STOCKHOLDERS_EQUITY,Q10_NET_INCOME,Q10_GROSS_PROFIT,Q10_COST_OF_REVENUES,Q10_REVENUES,Q10_OPERATING_INCOME,Q10_OPERATING_EXPENSES,Q10_EBITDA,Q10_DEPRECIATION_AND_AMORTIZATION,Q10_fiscal_year_end
401,885,Packaged Foods,Consumer Defensive,14200.0,7.0,9.0,9.0,10.0,10.0,27.408330,...,4.149500e+09,161800000.0,577500000.0,904000000.0,1.481500e+09,236300000.0,321300000.0,256200000.0,19900000.0,0.0
402,385,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.060000e+06,-24889000.0,54651000.0,87294000.0,1.379300e+08,-14397000.0,69048000.0,-14397000.0,0.0,0.0
403,711,Medical Devices,Healthcare,173.0,6.0,5.0,9.0,8.0,7.0,NaN,...,3.096200e+07,-7220000.0,2200000.0,1450000.0,3.726000e+06,-6499000.0,8699000.0,-6499000.0,0.0,0.0
404,272,Drug Manufacturers - Specialty & Generic,Healthcare,1030.0,10.0,9.0,10.0,4.0,9.0,35.500000,...,1.572920e+08,9943000.0,77057000.0,25495000.0,1.025520e+08,12616000.0,64441000.0,12616000.0,0.0,0.0
405,1892,Specialty Chemicals,Basic Materials,12000.0,4.0,2.0,2.0,1.0,1.0,30.345795,...,1.359400e+09,15200000.0,379100000.0,684500000.0,1.063600e+09,52600000.0,179100000.0,200000000.0,147400000.0,0.0

In [7]:
#TARGET VARIABLES THAT ARE NOT PRESENT IN TESTING DATASET
targets_names = [col for col in train if col not in test]
print(f'Target columns: {targets_names}')

Target columns: ['Q0_TOTAL_ASSETS', 'Q0_TOTAL_LIABILITIES', 'Q0_TOTAL_STOCKHOLDERS_EQUITY', 'Q0_GROSS_PROFIT', 'Q0_COST_OF_REVENUES', 'Q0_REVENUES', 'Q0_OPERATING_INCOME', 'Q0_OPERATING_EXPENSES', 'Q0_EBITDA']

In [8]:
train['is_train'] = True # "IS_TRAIN" = TRUE represents train data 
test['is_train'] = False # "IS_TRAIN" = FALSE represents test data 
df = pd.concat([train, test], axis = 0, ignore_index = True) # df is a dataset containing both train and test data now

In [9]:
df.tail()

,Id,industry,sector,fullTimeEmployees,auditRisk,boardRisk,compensationRisk,shareHolderRightsRisk,overallRisk,trailingPE,...,Q10_NET_INCOME,Q10_GROSS_PROFIT,Q10_COST_OF_REVENUES,Q10_REVENUES,Q10_OPERATING_INCOME,Q10_OPERATING_EXPENSES,Q10_EBITDA,Q10_DEPRECIATION_AND_AMORTIZATION,Q10_fiscal_year_end,is_train
2025,885,Packaged Foods,Consumer Defensive,14200.0,7.0,9.0,9.0,10.0,10.0,27.408330,...,161800000.0,577500000.0,904000000.0,1.481500e+09,236300000.0,321300000.0,256200000.0,19900000.0,0.0,False
2026,385,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-24889000.0,54651000.0,87294000.0,1.379300e+08,-14397000.0,69048000.0,-14397000.0,0.0,0.0,False
2027,711,Medical Devices,Healthcare,173.0,6.0,5.0,9.0,8.0,7.0,NaN,...,-7220000.0,2200000.0,1450000.0,3.726000e+06,-6499000.0,8699000.0,-6499000.0,0.0,0.0,False
2028,272,Drug Manufacturers - Specialty & Generic,Healthcare,1030.0,10.0,9.0,10.0,4.0,9.0,35.500000,...,9943000.0,77057000.0,25495000.0,1.025520e+08,12616000.0,64441000.0,12616000.0,0.0,0.0,False
2029,1892,Specialty Chemicals,Basic Materials,12000.0,4.0,2.0,2.0,1.0,1.0,30.345795,...,15200000.0,379100000.0,684500000.0,1.063600e+09,52600000.0,179100000.0,200000000.0,147400000.0,0.0,False

In [10]:
df.shape #DF DATASET : 2030 ROWS AND 213 COLPUMNS

(2030, 213)

In [11]:
df.info() #we got to know that there are 4 object type features

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2030 entries, 0 to 2029
Columns: 213 entries, Id to is_train
dtypes: bool(1), float64(207), int64(1), object(4)
memory usage: 3.3+ MB

In [12]:
df.select_dtypes(include = 'object') #4 Object type features : INDUSTRY, SECTOR, RECOMMENDATIONKEY, FINANCIALCURRENCY

,industry,sector,recommendationKey,financialCurrency
0,Personal Services,Consumer Cyclical,strong_buy,USD
1,Building Products & Equipment,Industrials,buy,USD
2,NaN,Unknown,NaN,NaN
3,Scientific & Technical Instruments,Technology,hold,USD
4,Drug Manufacturers - Specialty & Generic,Healthcare,buy,USD
...,...,...,...,...
2025,Packaged Foods,Consumer Defensive,hold,USD
2026,NaN,Unknown,NaN,NaN
2027,Medical Devices,Healthcare,buy,USD
2028,Drug Manufacturers - Specialty & Generic,Healthcare,buy,USD
2029,Specialty Chemicals,Basic Materials,buy,USD

In [13]:
df["industry"].dropna()

0                              Personal Services
1                  Building Products & Equipment
3             Scientific & Technical Instruments
4       Drug Manufacturers - Specialty & Generic
5                            Tools & Accessories
                          ...
2024                            Telecom Services
2025                              Packaged Foods
2027                             Medical Devices
2028    Drug Manufacturers - Specialty & Generic
2029                         Specialty Chemicals
Name: industry, Length: 2003, dtype: object

In [14]:
df["industry"].isnull().sum() #NO OF NULL VALUES IN INDUSTRY BEFORE

27

In [15]:
df["industry"] = df["industry"].fillna(df["industry"].mode()[0]) #HANDLING MISSING VALUE FOR CATEGORICAL DATA USING MODE APPROCH

In [16]:
df["industry"].isnull().sum() #NO OF NULL VALUES IN INDUSTRY AFTER

0

In [17]:
#MISSING VALUES BEFORE FOR CATEGORICAL DATA
df["sector"].dropna()
df["recommendationKey"].dropna()
df["financialCurrency"].dropna()
print("Missing values in SECTOR:",df["sector"].isnull().sum())
print("Missing values in RECOMMENDATIONKEY:",df["recommendationKey"].isnull().sum())
print("Missing values in FINANCIALCURRENCY:",df["financialCurrency"].isnull().sum())

Missing values in SECTOR: 0
Missing values in RECOMMENDATIONKEY: 24
Missing values in FINANCIALCURRENCY: 24

In [18]:
#MODE APPROCH
df["recommendationKey"] = df["recommendationKey"].fillna(df["recommendationKey"].mode()[0])
df["financialCurrency"] = df["financialCurrency"].fillna(df["financialCurrency"].mode()[0])

In [19]:
#MISSING VALUES AFTER FOR CATEGORICAL DATA
print("Missing values in SECTOR:",df["sector"].isnull().sum())
print("Missing values in RECOMMENDATIONKEY:",df["recommendationKey"].isnull().sum())
print("Missing values in FINANCIALCURRENCY:",df["financialCurrency"].isnull().sum())

Missing values in SECTOR: 0
Missing values in RECOMMENDATIONKEY: 0
Missing values in FINANCIALCURRENCY: 0

In [20]:
#NUMBER OF UNIQUE VALUES IN EACH COLUMN OF TYPE OBJECT
for column in df.select_dtypes(include = 'O'):
    print(f'{column} unique values num: {df[column].nunique()}')
    print('-'*50)

industry unique values num: 113
--------------------------------------------------
sector unique values num: 10
--------------------------------------------------
recommendationKey unique values num: 6
--------------------------------------------------
financialCurrency unique values num: 2
--------------------------------------------------

In [21]:
#PERFORMING LABEL ENCODING
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df["industry"] = encoder.fit_transform(df["industry"])
df["sector"] = encoder.fit_transform(df["sector"])
df["recommendationKey"] = encoder.fit_transform(df["recommendationKey"])
df["financialCurrency"] = encoder.fit_transform(df["financialCurrency"])

In [22]:
df.isnull().sum() #NO OF MISSING/NULL VALUES PRESENT IN EACH FEATURE

Id                                     0
industry                               0
sector                                 0
fullTimeEmployees                    102
auditRisk                            625
                                    ...
Q10_OPERATING_EXPENSES               261
Q10_EBITDA                           273
Q10_DEPRECIATION_AND_AMORTIZATION    279
Q10_fiscal_year_end                    0
is_train                               0
Length: 213, dtype: int64

In [23]:
train[targets_names].isnull().sum() #NO OF MISSING VALUES IN TARGET VARIABLE IS 0

Q0_TOTAL_ASSETS                 0
Q0_TOTAL_LIABILITIES            0
Q0_TOTAL_STOCKHOLDERS_EQUITY    0
Q0_GROSS_PROFIT                 0
Q0_COST_OF_REVENUES             0
Q0_REVENUES                     0
Q0_OPERATING_INCOME             0
Q0_OPERATING_EXPENSES           0
Q0_EBITDA                       0
dtype: int64

In [24]:
#HANDLING MISSING VALUES IN DATASET DF USING MEDIAN APPROCH
def missing_values(df):
    print(f'MISSING VALUES BEFORE MEDIAN APPROCH: {sum(df.isnull().sum())}')
    #REPLACING INF and -INF with NaN
    df.replace([np.inf, -np.inf], np.nan, inplace=True)
    #HANDLING NaN VALUES BY MEDIAN APPROCH
    for column in df:
        if np.any(df[column].isnull()):
            df[column].fillna(df[column].median(), inplace = True)
    print(f'MISSING VALUES AFTER MEDIAN APPROCH: {sum(df.isnull().sum())}')
    return df

df = missing_values(df)

MISSING VALUES BEFORE MEDIAN APPROCH: 28653
MISSING VALUES AFTER MEDIAN APPROCH: 0

In [25]:
train = df[df['is_train'] == True] #STORING DATA WHERE df['is_train'] == True IN "train" VARIABLE
test = df[df['is_train'] == False] #STORING DATA WHERE df['is_train'] == False IN "test" VARIABLE
train.drop('is_train', axis = 1, inplace=True) #DROP 'is_train' COLUMN FROM TRAIN DATASET
test.drop('is_train', axis = 1, inplace=True) #DROP 'is_train' COLUMN FROM TEST DATASET
test.reset_index(drop = True, inplace = True) #RESET INDEX IN TEST DATASET

In [26]:
#REMOVING ALL TARGET COLUMNS FROM TRAIN AND TEST DATASETS
test.drop(targets_names, axis = 1, inplace = True)
targets = train[targets_names].copy() # TARGETS DATASET CREATION
train.drop(targets_names, axis = 1, inplace = True)

In [27]:
train.head() #FINAL TRAINING DATASET

,Id,industry,sector,fullTimeEmployees,auditRisk,boardRisk,compensationRisk,shareHolderRightsRisk,overallRisk,trailingPE,...,Q10_TOTAL_STOCKHOLDERS_EQUITY,Q10_NET_INCOME,Q10_GROSS_PROFIT,Q10_COST_OF_REVENUES,Q10_REVENUES,Q10_OPERATING_INCOME,Q10_OPERATING_EXPENSES,Q10_EBITDA,Q10_DEPRECIATION_AND_AMORTIZATION,Q10_fiscal_year_end
0,196,76,2,1174.0,5.0,10.0,9.0,4.0,8.0,12.549223,...,2.405020e+08,-210355.0,2.317100e+07,5.431900e+07,4.073200e+07,2150000.0,5946000.0,1.722500e+07,15075000.0,0.0
1,1568,17,6,3600.0,4.0,4.0,3.0,4.0,3.0,1222.000000,...,3.265380e+08,-71929000.0,4.105740e+08,6.926880e+08,1.103262e+09,-39287000.0,333229000.0,7.734500e+07,116632000.0,0.0
2,1218,14,8,874.5,6.0,6.0,6.0,6.0,6.0,21.026262,...,4.066300e+10,603000000.0,1.649000e+09,4.587000e+09,6.236000e+09,663000000.0,214000000.0,1.435000e+09,772000000.0,0.0
3,23,85,7,143.0,6.0,6.0,6.0,6.0,6.0,21.026262,...,2.758000e+03,-9715.0,0.000000e+00,2.957950e+07,1.031810e+08,-9683.0,9683.0,-9.683000e+03,0.0,0.0
4,783,31,5,36.0,6.0,6.0,6.0,6.0,6.0,1.231544,...,2.592400e+07,-4676000.0,1.205000e+07,0.000000e+00,1.205000e+07,-1594000.0,13644000.0,-1.594000e+06,0.0,0.0

In [28]:
test.head() #FINAL TESTING DATASET

,Id,industry,sector,fullTimeEmployees,auditRisk,boardRisk,compensationRisk,shareHolderRightsRisk,overallRisk,trailingPE,...,Q10_TOTAL_STOCKHOLDERS_EQUITY,Q10_NET_INCOME,Q10_GROSS_PROFIT,Q10_COST_OF_REVENUES,Q10_REVENUES,Q10_OPERATING_INCOME,Q10_OPERATING_EXPENSES,Q10_EBITDA,Q10_DEPRECIATION_AND_AMORTIZATION,Q10_fiscal_year_end
0,480,31,5,874.5,6.0,6.0,6.0,6.0,6.0,21.026262,...,2.424310e+08,-210355.0,34239000.0,29579500.0,103181000.0,-38304.0,39633000.0,-268440.0,0.0,0.0
1,573,31,5,7600.0,6.0,7.0,6.0,4.0,5.0,90.500000,...,3.230150e+08,-210355.0,191562000.0,301543000.0,493105000.0,45907000.0,90726000.0,100836000.0,54929000.0,0.0
2,1967,89,7,874.5,6.0,6.0,6.0,6.0,6.0,21.026262,...,2.424310e+08,-210355.0,34239000.0,29579500.0,103181000.0,-38304.0,39633000.0,-268440.0,0.0,0.0
3,57,60,6,5200.0,1.0,5.0,4.0,5.0,3.0,23.500002,...,3.085267e+09,-3375000.0,72793000.0,228158000.0,300951000.0,3164000.0,69629000.0,3164000.0,0.0,0.0
4,131,65,6,6700.0,1.0,4.0,4.0,6.0,3.0,20.748793,...,4.829000e+08,-7900000.0,85800000.0,606700000.0,692500000.0,31800000.0,54000000.0,31800000.0,0.0,0.0

In [29]:
targets.head() #TARGET VARIABLES DATASET

,Q0_TOTAL_ASSETS,Q0_TOTAL_LIABILITIES,Q0_TOTAL_STOCKHOLDERS_EQUITY,Q0_GROSS_PROFIT,Q0_COST_OF_REVENUES,Q0_REVENUES,Q0_OPERATING_INCOME,Q0_OPERATING_EXPENSES,Q0_EBITDA
0,1.192950e+09,1.055816e+09,1.371340e+08,25598000.0,6.189900e+07,4.299200e+07,1.522200e+07,10383000.0,15215000.0
1,1.219954e+09,8.350460e+08,3.849080e+08,111786000.0,2.177960e+08,3.295820e+08,2.890800e+07,85522000.0,26264000.0
2,-1.358200e+11,-3.797200e+10,-9.784800e+10,-435000000.0,4.445000e+09,4.010000e+09,-1.472000e+09,219000000.0,-654000000.0
3,8.329800e+07,1.604000e+07,-3.163300e+07,494000.0,3.339000e+06,3.833000e+06,-1.234800e+07,12842000.0,-12348000.0
4,1.485460e+08,5.655500e+07,9.199100e+07,1761000.0,-2.375000e+06,-6.140000e+05,-1.009800e+07,11859000.0,-10098000.0

In [30]:
from xgboost import XGBRegressor
from sklearn.model_selection import cross_val_score as cvs

In [31]:
model = XGBRegressor()

In [32]:
preds = {}
for target in targets:
    model.fit(train, targets[target])
    pred = model.predict(test)
    preds[target] = pred
    print(f'Finished train/predict for: {target}')

Finished train/predict for: Q0_TOTAL_ASSETS
Finished train/predict for: Q0_TOTAL_LIABILITIES
Finished train/predict for: Q0_TOTAL_STOCKHOLDERS_EQUITY
Finished train/predict for: Q0_GROSS_PROFIT
Finished train/predict for: Q0_COST_OF_REVENUES
Finished train/predict for: Q0_REVENUES
Finished train/predict for: Q0_OPERATING_INCOME
Finished train/predict for: Q0_OPERATING_EXPENSES
Finished train/predict for: Q0_EBITDA

In [33]:
print('CROSS VALIDATION R2 SCORES FOR EACH TARGET:\n')
cross_val_score_results = {}
for target in targets:
    score = np.round(np.mean(cvs(model, train, targets[target], cv=10, scoring='r2')),2)
    cross_val_score_results[target] = score
    print(f'{target} -> {score}')
print(f'\nMEAN R2 SCORE ACROSS ALL TARGETS: {np.mean(list(cross_val_score_results.values()))}')

CROSS VALIDATION R2 SCORES FOR EACH TARGET:

Q0_TOTAL_ASSETS -> 0.8
Q0_TOTAL_LIABILITIES -> 0.58
Q0_TOTAL_STOCKHOLDERS_EQUITY -> 0.91
Q0_GROSS_PROFIT -> 0.89
Q0_COST_OF_REVENUES -> 0.9
Q0_REVENUES -> 0.95
Q0_OPERATING_INCOME -> 0.77
Q0_OPERATING_EXPENSES -> 0.89
Q0_EBITDA -> 0.12

MEAN R2 SCORE ACROSS ALL TARGETS: 0.7566666666666666

In [34]:
sub = pd.read_csv('/kaggle/input/financial-performance-prediction/sample_submission.csv')

In [35]:
#SANITY CHECK
sub.Id == test.Id

0      True
1      True
2      True
3      True
4      True
       ...
401    True
402    True
403    True
404    True
405    True
Name: Id, Length: 406, dtype: bool

In [36]:
for target in preds:
    sub[target] = preds[target]
sub.head()

,Id,Q0_REVENUES,Q0_COST_OF_REVENUES,Q0_GROSS_PROFIT,Q0_OPERATING_EXPENSES,Q0_EBITDA,Q0_OPERATING_INCOME,Q0_TOTAL_ASSETS,Q0_TOTAL_LIABILITIES,Q0_TOTAL_STOCKHOLDERS_EQUITY
0,480,-1.940290e+06,-1.933074e+05,-1.348972e+05,-1.460389e+06,-2.177127e+06,-1.033935e+06,-2.328384e+07,6.309798e+06,2.079604e+05
1,573,5.487006e+08,3.259787e+08,2.153970e+08,1.134412e+08,1.335220e+08,1.773789e+07,3.641031e+09,1.894926e+09,3.702912e+08
2,1967,-2.054675e+07,1.157037e+07,-3.051085e+06,4.787868e+06,-3.278227e+06,-7.860118e+06,3.761247e+07,4.435038e+07,5.513024e+06
3,57,5.052865e+08,2.734435e+08,1.755245e+08,8.390578e+07,6.916058e+07,6.270552e+07,5.658756e+09,2.726792e+09,3.316880e+09
4,131,1.015055e+09,8.077940e+08,1.870518e+08,9.489115e+07,1.333217e+08,7.933154e+07,4.559058e+09,2.958353e+09,1.095777e+09

In [37]:
sub.to_csv('submission.csv', index = False)